
#one{
   display: flex;
    flex-wrap: wrap;
    gap:100px
}

#two{
   
     background-color: aliceblue; 
    
     margin: 10px;
     height: 250px;
     width: 250px;
     cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
}